body {
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* NavBar */
.nav-item{
    margin: 0 2rem !important;
}

@media screen and (min-width: 992px) {
    .navbar-nav li a {
        background-image: linear-gradient(
          to right,
          #54b3d6,
          #54b3d6 50%,
          #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      .navbar-nav li a:before{
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      .navbar-nav li a:hover {
       background-position: 0;
      }
      
      .navbar-nav li a:hover::before{
        width: 100%;
      }   
}

/* HeroSection */
.heroSection{
    background-color: grey;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption{
    max-width: 80%;
}

.headingHero{
    position: relative;
    left: 40vw;
    bottom: 50vh;   
}

/* about us*/
.details{
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
}

/* Footer */
footer{
    background-color: #beb7a4;
    min-height: 30vh;
    text-align: center;

}

.f-info-social,
.f-info-terms {
    margin: auto;
    width: 100%;
}

.f-info-social i {
    padding-right: 2rem;
    color: black;
}
